.App {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.App a {
  margin: 30px;
}

.nested {
  margin: 20px;
}

.field{
  height: 400px;
  width: 400px;
  border: 1px solid black;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}